<div class="col-3">
  <div class="card bg-white rounded-spacer text-center shadow-hover">
    <div class="card-body py-5">
      <h6 class="text-gray"><%=plugin.name %></h6>
      <img class="img-fluid" src="<%=plugin.cover %>" alt="<%=plugin.name %>" role="img">
      <h2 class="text-primary mb-0 currency" data-currency="€"><%=plugin.pricing %></h2>
      <p class="text-gray mb-3"><%=plugin.deadline %></p>
      <p class="mb-5"><%=plugin.description %></p>
      <a class="btn btn-lg btn-primary text-white" href="<%=plugin.link.url %>"><%=plugin.link.text %></a>
    </div>
  </div>
</div>